<!DOCTYPE html>

<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Battleship/cadastro</title>
        <link rel="icon" href="assets/bomb.ico">
        <script type="text/javascript" src="assets/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="assets/battleship.js"></script>
    </head>
    <body>
        <header>
             <figure>
                <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
            </figure>
        </header>
       
       <main>
           <%= form_tag sessions_path do |form| %>
              <div class=”field”>
                <%= label_tag :email %>
                <%= text_field_tag :email %>
              </div>
            
              <div class=”field”>
                <%= label_tag :password %>
                <%= password_field_tag :password %>
              </div>
            
              <div class=”actions”>
                <%= submit_tag 'Login' %>
              </div>
            <% end %>
       </main>
           
        
    </body>
    
</html>

<script>
//battleship.init( document.querySelector('#board1') );
//battleship.init1( document.querySelector('#board2') );
//battleship.start();

</script>