<p id=”alert”><%= alert %></p>


<html lang="pt-br" dir="ltr">
  <head>
        <meta charset="utf-8">
        <title>Battleship</title>
        <link rel="icon" href="assets/bomb.ico">
        <script type="text/javascript" src="assets/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="assets/battleship.js"></script>
        <link rel="stylesheet" href="assets/style.css" type="text/css" />
  </head>
  <body>
      <header>
        <figure>
          <img class="logotipo" src="assets/logotipo.png" alt="Logotipo"></img>
        </figure>
      </header>
       
      <main>
           <h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :Email %>
    <%= text_field_tag :email %>
  </div>

  <div class=”field”>
    <%= label_tag :Senha %>
    <%= password_field_tag :password %>
  </div>

  <div class=”actions”>
    <%= submit_tag 'Login' %>
  </div>
<% end %>
      </main>
  </body>

<a href='/signup' id="aRegister">CADASTRAR?</a>
