<div class= 'main-containers-div'
<%= form_with(model: user, local: true) do |form| %>

    <div class= 'containerb-form-edit'>
       <div class="field">
          <%= form.label :nome %><br>
          <%= form.text_field :nome %>
        </div>
      
        <div class="field">
          <%= form.label :email %><br>
          <%= form.text_field :email %>
        </div>
      
  
    
   
      <div class="field">
          <%= form.label :Senha %><br>
          <%= form.password_field :password %>
        
        </div>
        
        <div class="field">
          <%= form.label :Confirme_a_Senha %><br>
          <%= form.password_field :password_confirmation %>
        </div>
  
        <div class="actions">
          <%= form.submit "SALVAR!" %>
        </div>
<% end %>
</div>